/* Fonte geral */
.reveal {
  font-family: "Lato", sans-serif;
}


/* CAPA */

.title-slide h1 {
  color: #005c8b;
  font-weight: 800;
  font-size: 1.4em;
  line-height: 1.15;
  margin-bottom: 35px;
}


.title-slide .subtitle {
  color: #555555;
  font-size: 1.1em;
  line-height: 1.3;
  margin-bottom: 55px;
}


.title-slide .author {
  color: #005c8b;
  font-weight: 700;
  font-size: 1.05em;
  margin-bottom: 15px;
}


.title-slide .info {
  color: #222222;
  font-size: 0.95em;
  line-height: 1.35;
}


.title-slide .year {
  margin-top: 35px;
  color: #777777;
  font-size: 0.9em;
}

.title-slide img {
  margin-top: 35px;
}

.title-slide .center-img {
  display: flex;
  justify-content: center;  /* centraliza horizontal */
  align-items: center;      /* centraliza vertical */
  height: 600px;
}


/* =====================
   DEMAIS SLIDES
===================== */

.reveal h1,
.reveal h2 {
  color: #005c8b;
  font-weight: 700;
  margin-bottom: 35px;;
}


.reveal h3 {
  color: #555555;
}


.reveal strong {
  color: #0073ae;
}


.reveal img {
  border: none;
  box-shadow: none;
}


/* =====================

===================== */

.lead {
  font-size: 1.15em;
  margin-top: 30px;
  margin-bottom: 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.card {
  background-color: #f4f9fc;
  border-left: 6px solid #005c8b;
  padding: 18px 22px;
  border-radius: 8px;
  font-size: 1em;
  line-height: 1.25;
}

.card strong {
  color: #005c8b;
  font-size: 1.2em;
  font-weight: 800;
}

.highlight {
  background-color: #eef7fb;
  border-left: 8px solid #0073ae;
  padding: 18px 24px;
  border-radius: 8px;
  font-size: 1em;
  margin-top: 25px;
}

.section-slide {
  text-align: center;
}

.section-slide h1 {
  margin-top: 250px;
  font-size: 2.5em;
  color: #005c8b;
}

/* =====================
   SLIDE-R
===================== */

.slide-r p,
.slide-r li {
  font-size: 1.25em;
  line-height: 1.4;
}

.slide-r blockquote {
  font-size: 1.2em;
}

/* =====================
   SLIDE-RSTUDIO
===================== */

.slide-rstudio p,
.slide-rstudio li {
  font-size: 1.25em;
  line-height: 1.4;
}

.slide-rstudio blockquote {
  font-size: 1.2em;
}

/* =====================
   SLIDE-CONHECENDO
===================== */

.slide-conhecendo p,
.slide-conhecendo li {
  font-size: 1.25em;
  line-height: 1.4;
}

.slide-conhecendo blockquote {
  font-size: 1.2em;
}

/* =====================
   SLIDE-PROJETOS
===================== */

.slide-projetos p,
.slide-projetos li {
  font-size: 1.25em;
  line-height: 1.4;
}

.slide-projetos blockquote {
  font-size: 1.2em;
}

.estrutura-projeto {
  font-family: monospace;
  font-size: 1.65em;
  line-height: 1.25;
  width: 85%;
  margin: 20px auto 25px auto;
  /* margin-left: 30%;
  margin-top: 35px; */
  margin-bottom: 35px;
}


.big-question {
  color: #005c8b;
  font-size: 1.45em;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 35px;
  margin-bottom: 45px;
}


/* tamanho geral dos callouts */
.reveal div.callout {
  font-size: 1.5em;
}

/* título do callout */
.reveal .callout-title,
.reveal .callout-title-container {
  font-size: 1.6em !important;
  font-weight: bold;
}

/* texto dentro do callout */
.reveal .callout-content,
.reveal .callout-body {
  font-size: 1.4em;
}

/* códigos dentro do callout */
.reveal .callout pre code,
.reveal .cell-output pre code {
  font-size: 1.8em;
}

.reveal .callout {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

/* slide de transição: Vamos ao R */
.reveal .slide-vamos .texto-vamos {
  position: absolute;
  left: 0.6em;
  top: 48%;

  font-size: 4.5em;
  font-weight: 700;
  color: #005c8b;

  line-height: 1;
}
